<div class="container">
    <div class="register-container">
        <h2>Registrate</h2>
        <form id="formRegister"
              class="register-form"
              action=""
              method="post">
            <label for="name">Nombre:</label>
            <input type="text"
                   id="name"
                   name="name"
                   required>

            <label for="username">User:</label>
            <input type="text"
                   id="username"
                   name="username"
                   required>

            <label for="email">Email:</label>
            <input type="email"
                   id="email"
                   name="email"
                   required>

            <label for="password">Contraseña:</label>
            <input type="password"
                   id="password"
                   name="password"
                   required>
            <input type="submit"
                   value="Register">
        </form>
        <p>Ya tenes una cuenta? <a href="/static/login">Login</a></p>
    </div>
</div>